{% extends "layout.html" %}
{% block content %}
<h1>Teams</h1>
<div class="Teams">
    {% for team in teams %}
        <div class="team-item">
            {% if team.logo %}
                <img src="{{ url_for('static', filename='images/' + team.logo) }}" alt="{{ team.name }} Logo" class="team-logo"/>
            {% else %}
                <img src="{{ url_for('static', filename='images/default_logo.png') }}" alt="{{ team.name }} Logo" class="team-logo"/> 
            {% endif %}
            <h2>{{ team.name }}</h2>
            <p>{{ team.description }}</p>
            <form action="{{ url_for('add_to_watchlist') }}" method="post">
                <input type="hidden" name="team_id" value="{{ team.id }}">
                <input type="submit" value="Add to Watchlist">
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}

